/*--- --- --- Google Fonts --- ---- --- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');


/*--- --- --- Css Variables --- ---- --- */
:root {
    /*--- --- ---Colors --- --- ---*/
    --bright-text-color: #86C232;
    --text-W-color: #fff;
    --bg-color: #fff;
    --text-para-color: #acafb3;
    --bg-color3: rgba(255, 255, 255, 0.158);

    /*--- --- ---Font and typography --- --- ---*/
    --mono-font: 'Roboto Mono', monospace;
}

/*--- --- --- Projects CSS - cards CSS --- --- --- */

.home__data .table td {
    color: var(--text-para-color);
    font-family: var(--mono-font);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.heading h3 {
    font-size: 15px;
    font-weight: 450;
    color: #acafb3;
}

.card ul li {
    list-style-type: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 12px;
    width: 312px;
    height: 85%;
    background: var(--bg-color3);
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 65px;
}

.works-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3px;
}

.works-details .comp-title {
    color: var(--text-W-color);
    font-family: var(--mono-font);
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 44px;
}

.work-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px 0;
}


.works-details .client a {
    color: var(--bright-text-color);
}

.works-details .dim {
    color: var(--text-W-color);
}


.work-title li {
    color: var(--text-W-color);
}

.project-desc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-W-color);
    margin: 10px 0px 0px 0px;
}

.project-desc p {
    color: #BCBCBC;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.tag {
    color: #5B78F6 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*--- --- --- For Responsiveness --- --- --- */
@media only screen and (min-width: 768px) {

    .portfolio-img {
        width: 46%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .works-details {
        padding-left: 3px;
        height: 100%;
    }

    .work-title {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
    }

    .works-details .comp-title {
        font-family: var(--mono-font);
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 44px;
    }

    .work-title .client a {
        font-family: var(--mono-font);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
    }

    .work-title .dim {
        font-family: var(--mono-font);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

    .project-desc {
        font-family: var(--mono-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0px 0px 0px;
    }

    .tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 8px;
    }

    .tag:hover {
        cursor: pointer;
        transform: scale(1.15);
        transition: all 0.5s;
    }
}
