
/*--- --- --- Css Variables --- ---- --- */
:root {
  /*--- --- ---Colors --- --- ---*/
  --bright-text-color: #86C232 ;
  --dark-green-color: #61892F;
  --text-W-color: #fff;
  --bg-color: #fff;
  --hr-color: #cccccc ;
  --text-para-color: #acafb3;
  --text-para-color2: #999da0;
  --black-color: #000;
  --background-color: #222629;
  --bg-color3: rgba(255, 255, 255, 0.158);

  /*--- --- ---Font and typography --- --- ---*/
  --roboto-font: 'Roboto', sans-serif;
  --mono-font: 'Roboto Mono', monospace;

  /*--- --- --- Font Weight --- --- ---*/
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* --- --- --- Box shadow --- --- */
 --box-shadow-4: 0 1px 29px rgb(0 0 0 /40%);
 
}


/*--- --- --- Base --- --- --- */


h2 {
  font-size: 20px;
  margin: 24px 0 8px;
}

h3 {
  font-size: 16px;
  margin: 0 0 8px;
  font-weight: 500;
}

hr {
  border: 0px;
  height: 1px;
  background: var(--hr-color);
  margin: 20px 0;
}

section {
  margin-bottom: 48px;
}

p {
  color:  var(--text-para-color2);
  font-family: var(--mono-font);
  font-size: 16px;
  font-weight: 450;
}


/* --- --- --- Resume Main --- --- --- */
.resume-main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 20px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--bright-text-color);
}

.discription {
  text-align: center !important;
}

.name {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
}

.social-media {
  text-align: center;
  margin-bottom: 15px;
}

.social-media-link {
  color: var(--text-W-color);
  text-decoration: none;
  margin: 0 5px;
}

.social-media-link:hover {
  color:var(--bright-text-color);
}


/* --- skills section --- */
.skills {
  display: flex;
  justify-content: space-between;
}

.skill {
  width: 30%;
}

/*--- --- ---  for medium devices --- --- --- */
@media screen and (max-width: 500px) {
  .skills {
    display: inline;
    justify-content: space-between;
  }
  
  .skill {
    width: 90%;
  }
  
}


.skill-name {
  border-top: 1px solid #999999;
  padding-top: 16px;
}

/* --- experience section --- */
.company .insitution-link{
  color: var(--bright-text-color);
  font-size: 15px;
  font-weight: 500;
}

.experience-item .credential-link{
  color: var(--bright-text-color);
  font-size: 15px;
  font-weight: 500;
}

.company,
.duration {
  color: var(--text-para-color2);
  font-size: 14px;
  margin-right: 30px;
}

.fa-building,
.fa-calendar-alt {
  margin-right: 5px;
}